@page "/Courses"
@rendermode InteractiveServer
@inject HttpClient HttpClient

<PageTitle>Courses</PageTitle>


<h3>Courses</h3>
<p> @foreach (Course course in courses)
    {
        <p>@course.Title</p>

    }
</p>
@code {

    List<Course> courses = new List<Course>
    {
            
    };

    protected override async Task OnInitializedAsync()
    {
       // await HttpClient.GetAsync("/api/courses");

       courses = await HttpClient.GetFromJsonAsync<List<Course>>("/api/courses") ?? new();
    }
    
}
