@page "/CreateUser"
@rendermode InteractiveServer
@inject HttpClient HttpClient

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it

</script>

<div class="col text-center">
    <h2>Add user</h2>
</div>
<form>
    <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" @bind-value="Fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" @bind-value="Lname"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" @bind-value="Email"><br><br>

       
</form>
<form class="form-floating">
    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
    <label for="floatingInputValue">Input with value</label>
</form>
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Comments</label>
</div>

<select @bind = "@SelectedCourseId">
    @foreach(var course in courses){
        <option value="@course.Id">@course.Title </option>
   
    }
    
</select>

<input type="submit" value="Submit" onclick=@CreateUser>

@if (!string.IsNullOrEmpty(StatusMessage))
{
    <div class="alert @StatusMessageClass">
        @StatusMessage
    </div>
}

@code {
    private string StatusMessage { get; set; }
    private string StatusMessageClass { get; set; }

    List<Course> courses = new();
    String Fname;
    String Lname;
    String Email;
    int SelectedCourseId;

    protected override async Task OnInitializedAsync()
    {
        // await HttpClient.GetAsync("/api/courses");

        courses = await HttpClient.GetFromJsonAsync<List<Course>>("/api/courses") ?? new();


    }

    public async Task CreateUser()
    {
        var user = new ApplicationUser
            {

                FirstName = Fname,
                LastName = Lname,
                Email = Email,
                PasswordHash = "123",
                CourseID = SelectedCourseId
            };

        

        var response = await HttpClient.PostAsJsonAsync<User>("/api/Users", user);
        if (response.IsSuccessStatusCode)
        {
            StatusMessage = "Course successfully created!";
            StatusMessageClass = "alert-success";
            user = new ApplicationUser(); // Reset form
        }
        else
        {
            StatusMessage = "Error creating course. Please try again.";
            StatusMessageClass = "alert-danger";
        }
    }

}
