@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Robo unicorns</h1>

<p> Here's a list of the other pages for testing that we haven't added in the menu.</p>

<ul>
    <li>
        <NavLink class="nav-link" href="CreateStudent">
            <span class="bi bi-list-nested-nav-menu link-hover" aria-hidden="true">Create student page</span>
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="Error">
            <span class="bi bi-list-nested-nav-menu link-hover" aria-hidden="true">Error page</span>
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="ListModules">
            <span class="bi bi-list-nested-nav-menu link-hover" aria-hidden="true">List modules</span>
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="ModuleAdd">
            <span class="bi bi-list-nested-nav-menu link-hover" aria-hidden="true">Add Module</span>
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="Module Edit">
            <span class="bi bi-list-nested-nav-menu link-hover" aria-hidden="true">Edit module</span>
        </NavLink>
    </li>
</ul>