@page "/Login"
@inject HttpClient HttpClient
<div class="container-fluid vh-70 d-flex align-items-center justify-content-center">
    <form class="p-4 d-flex flex-column align-items-center justify-content-between" style="max-width: 600px; background-color:#212529 ; border: 2px solid #1861ac;">
        <div class="text-center mb-4">
            <h2 class="mb-3">LOG IN</h2>
        </div>
        <div class="mb-4 w-100">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="text-primary">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" class="text-primary">Password</label>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

@code {
   
}
