@page "/course/{CourseId:int}/moduleadd"
@using LMS.api.Model
@inject HttpClient HttpClient

<h3>Add New Module</h3>

<form method="post" data-enhance @onsubmit="OnSubmit" @formname="add-module-form">
    <AntiforgeryToken />

    <div class="mb-3">
        <label class="form-label">Title</label>
        <InputText class="form-control" @bind-Value="@ModuleToAdd.Title" placeholder="Enter title" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <InputTextArea rows="3" class="form-control" @bind-Value="@ModuleToAdd.Description" placeholder="Enter description"></InputTextArea>
    </div>

    <div class="mb-3">
        <label class="form-label">Start date</label>
        <InputDate class="form-control" @bind-Value="@ModuleToAdd.Start" placeholder="Enter start date" />
    </div>

    <div class="mb-3">
        <label class="form-label">End date</label>
        <InputDate class="form-control" @bind-Value="@ModuleToAdd.End" placeholder="Enter end date"></InputDate>
    </div>

    <button type="submit" class="btn btn-primary">Add Module</button>
</form>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [SupplyParameterFromForm]
    private Module ModuleToAdd { get; set; }

    protected override void OnInitialized()
    {
        ModuleToAdd ??= new Module();
    }

    private async Task OnSubmit()
    {
        var postBody = new
        {
            Title = ModuleToAdd.Title,
            Description = ModuleToAdd.Description,
            Start = ModuleToAdd.Start,
            End = ModuleToAdd.End,
            CourseId = CourseId
        };

        await HttpClient.PostAsJsonAsync("/api/modules", postBody);
    }
}
