hr {
    margin-bottom: 0px;
}

.robo {
    color: #23B0FF;
}

nav {
    background-color: #2E2E2E;
   
}

.link-hover {
    transition: 0.3s;
    color: white;
}

.link-hover:hover {
    color: #23B0FF;
}