h1 {
   padding: 1.5rem 0;
   margin-bottom: 0;
}

.robo {
    color: #23B0FF;
}

nav {
    border-top: 1px solid #23B0FF;
}

header {
    background-color: #2E2E2E;
   
}

.link-hover {
    transition: 0.3s;
    color: white;
}

.link-hover:hover {
    color: #23B0FF;
}