@page "/"
@using LMS.api.Model
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

@code {
    private string userName = "";
    private IEnumerable<string> userRoles = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            userName = user.Identity.Name;
            var appUser = await UserManager.FindByNameAsync(userName);
            userRoles = await UserManager.GetRolesAsync(appUser);
        }
        else
        {
            NavigationManager.NavigateTo("/account/login");
        }
    }
}

@if (userName != "")
{
    <h1>Hello, @userName!</h1>
    <p>Welcome to your new app.</p>
    if (userRoles.Any())
    {
        <p>Your roles: @string.Join(", ", userRoles)</p>
    }
}
